###  AVIATION ANALYSIS PROJECT:STRATEGIC RISK ASSESSMENT FOR AVIATION ASSET ACQUISITION

## PROJECT OVERVIEW
Aircraft operations businesses both commercial and private involve complex activities from manufacturing to flight,focusing on safety,efficiency and profitability, encompassing airline services, airport management, air traffic control and support like maintenance and logistics, all driven by strategic planning, revenue management and strict regulations.
This project provides a data-driven roadmap for the company’s expansion into the aviation sector. By analyzing over 60 years of National Transportation Safety Board (NTSB) aviation accident data, this research identifies high-reliability aircraft makes and models that represent the lowest risk for commercial and private operations. Our findings bridge the gap between historical safety records and future investment strategies.

### BUSINESS PROBLEM
Risk is any event leading to loss. The aviation industry too is a venture with very many risks.Entering the aviation industry involves significant capital expenditure and high liability.Without historical expertise, the company faces the "Blind Entry" risk—purchasing aircraft that may be prone to mechanical failure or high fatality rates.In the Aviation venture, risk can be categorized in terms of Severity, Structure and Mechanical aspects among others. 
 Severity looks at the percentage of incidents that result in fatal or serious injuries. A high-risk aircraft is one where incidents are rarely survivable. Structural damage risk is the likelihood of an aircraft to being "Destroyed" vs. sustaining "Substantial" or "Minor" damage. This impacts the financial risk and insurance costs for the company.Mechanical risk is the failure rate of specific engine types across different phases of flight.
 With other present risks, solving the above mentioned ones will immensely boost portfolio growth,strategic agility, revenue and overall great company performance.

### OBJECTIVES
The main goal and objective of this project is to identify the safest aircraft profiles, with the lowest risks,for both commercial and private operations.
Looking at different factors to come up with a solid conclusion on which aircraft to purchase, I will need to answer the following questions;
1. Which combination of Manufacturer, Engine Type, and Aircraft Category offers the highest level of occupant safety and the lowest risk of total loss?
2. Which Makes and Models are safest for high-utilization business and commercial travel?
3. Which Engine Configurations and types provide the most reliable performance?

## DATA UNDERSTANDING
The data used in this project is a csv file named Aviation_Data, from the National Transportation Safety Board that includes aviation accident data from 1962 to 2023 about civil aviation accidents and selected incidents in the United States and international waters. It contains 90348 rows and 31 columns.

### DATA PREPARATION AND LOADING

In [1]:
#importing pandas
import pandas as pd
#importing numpy
import numpy as np
#importing matplotlib
import matplotlib.pyplot as plt 
#importing seaborn
import seaborn as sb

df_aviation_data=pd.read_csv("Aviation_Data.csv")
df_aviation_data

C:\Users\JOSEPH WACHIRA\.conda\envs\learn-env\lib\site-packages\IPython\core\interactiveshell.py:3145: DtypeWarning: Columns (6,7,28) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,36.9222,-81.8781,NaN,NaN,...,Personal,NaN,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,12-09-2000
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause,16-04-1980
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90343,20221227106491,Accident,ERA23LA093,2022-12-26,"Annapolis, MD",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,0.0,1.0,0.0,0.0,NaN,NaN,NaN,29-12-2022
90344,20221227106494,Accident,ERA23LA095,2022-12-26,"Hampton, NH",United States,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
90345,20221227106497,Accident,WPR23LA075,2022-12-26,"Payson, AZ",United States,341525N,1112021W,PAN,PAYSON,...,Personal,NaN,0.0,0.0,0.0,1.0,VMC,NaN,NaN,27-12-2022
90346,20221227106498,Accident,WPR23LA076,2022-12-26,"Morgan, UT",United States,NaN,NaN,NaN,NaN,...,Personal,MC CESSNA 210N LLC,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
90347,20221230106513,Accident,ERA23LA097,2022-12-29,"Athens, GA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,0.0,1.0,0.0,1.0,NaN,NaN,NaN,30-12-2022

## EXPLORING AND FAMILIARIZING WITH THE DATA

In [2]:
df_aviation_data.columns

Index(['Event.Id', 'Investigation.Type', 'Accident.Number', 'Event.Date',
       'Location', 'Country', 'Latitude', 'Longitude', 'Airport.Code',
       'Airport.Name', 'Injury.Severity', 'Aircraft.damage',
       'Aircraft.Category', 'Registration.Number', 'Make', 'Model',
       'Amateur.Built', 'Number.of.Engines', 'Engine.Type', 'FAR.Description',
       'Schedule', 'Purpose.of.flight', 'Air.carrier', 'Total.Fatal.Injuries',
       'Total.Serious.Injuries', 'Total.Minor.Injuries', 'Total.Uninjured',
       'Weather.Condition', 'Broad.phase.of.flight', 'Report.Status',
       'Publication.Date'],
      dtype='object')

In [3]:
df_aviation_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90348 entries, 0 to 90347
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                88889 non-null  object
 1   Investigation.Type      90348 non-null  object
 2   Accident.Number         88889 non-null  object
 3   Event.Date              88889 non-null  object
 4   Location                88837 non-null  object
 5   Country                 88663 non-null  object
 6   Latitude                34382 non-null  object
 7   Longitude               34373 non-null  object
 8   Airport.Code            50249 non-null  object
 9   Airport.Name            52790 non-null  object
 10  Injury.Severity         87889 non-null  object
 11  Aircraft.damage         85695 non-null  object
 12  Aircraft.Category       32287 non-null  object
 13  Registration.Number     87572 non-null  object
 14  Make                    88826 non-null  object
 15  Model                   88797 non-null  object
 16  Amateur.Built           88787 non-null  object
 17  Number.of.Engines       82805 non-null  float64
 18  Engine.Type             81812 non-null  object
 19  FAR.Description         32023 non-null  object
 20  Schedule                12582 non-null  object
 21  Purpose.of.flight       82697 non-null  object
 22  Air.carrier             16648 non-null  object
 23  Total.Fatal.Injuries    77488 non-null  float64
 24  Total.Serious.Injuries  76379 non-null  float64
 25  Total.Minor.Injuries    76956 non-null  float64
 26  Total.Uninjured         82977 non-null  float64
 27  Weather.Condition       84397 non-null  object
 28  Broad.phase.of.flight   61724 non-null  object
 29  Report.Status           82508 non-null  object
 30  Publication.Date        73659 non-null  object
dtypes: float64(5), object(26)
memory usage: 21.4+ MB

In [4]:
df_aviation_data.shape

(90348, 31)

In [5]:
df_aviation_data.describe()

,Number.of.Engines,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured
count,82805.000000,77488.000000,76379.000000,76956.000000,82977.000000
mean,1.146585,0.647855,0.279881,0.357061,5.325440
std,0.446510,5.485960,1.544084,2.235625,27.913634
min,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,0.000000,0.000000,0.000000,0.000000
50%,1.000000,0.000000,0.000000,0.000000,1.000000
75%,1.000000,0.000000,0.000000,0.000000,2.000000
max,8.000000,349.000000,161.000000,380.000000,699.000000

In [6]:
df_aviation_data.isna().sum()

Event.Id                   1459
Investigation.Type            0
Accident.Number            1459
Event.Date                 1459
Location                   1511
Country                    1685
Latitude                  55966
Longitude                 55975
Airport.Code              40099
Airport.Name              37558
Injury.Severity            2459
Aircraft.damage            4653
Aircraft.Category         58061
Registration.Number        2776
Make                       1522
Model                      1551
Amateur.Built              1561
Number.of.Engines          7543
Engine.Type                8536
FAR.Description           58325
Schedule                  77766
Purpose.of.flight          7651
Air.carrier               73700
Total.Fatal.Injuries      12860
Total.Serious.Injuries    13969
Total.Minor.Injuries      13392
Total.Uninjured            7371
Weather.Condition          5951
Broad.phase.of.flight     28624
Report.Status              7840
Publication.Date          16689
dtype: int64

In [7]:
df_aviation_data.isnull ()

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
0,False,False,False,False,False,False,True,True,True,True,...,False,True,False,False,False,False,False,False,False,True
1,False,False,False,False,False,False,True,True,True,True,...,False,True,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,True,True,...,False,True,False,True,True,True,False,False,False,False
3,False,False,False,False,False,False,True,True,True,True,...,False,True,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,True,True,True,True,...,False,True,False,False,True,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90343,False,False,False,False,False,False,True,True,True,True,...,False,True,False,False,False,False,True,True,True,False
90344,False,False,False,False,False,False,True,True,True,True,...,True,True,False,False,False,False,True,True,True,True
90345,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,True,True,False
90346,False,False,False,False,False,False,True,True,True,True,...,False,False,False,False,False,False,True,True,True,True
90347,False,False,False,False,False,False,True,True,True,True,...,False,True,False,False,False,False,True,True,True,False

In [8]:
df_aviation_data.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
90343    False
90344    False
90345    False
90346    False
90347    False
Length: 90348, dtype: bool

### DATA CLEANING AND DATA MANIPULATION
In this section I was able to check for missing values in important columns such as Total Serious Injuries and Total Minor Injuries. I then procceeded to fill the missing values instead of dropping them as they are crucial to my analysis.Additionally, I checked for duplicated values in the dataframe. I also filtered my data and used only columns that have impact on whether an air craft is less risky or highly risky.

In [9]:
df_aviation_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90348 entries, 0 to 90347
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                88889 non-null  object
 1   Investigation.Type      90348 non-null  object
 2   Accident.Number         88889 non-null  object
 3   Event.Date              88889 non-null  object
 4   Location                88837 non-null  object
 5   Country                 88663 non-null  object
 6   Latitude                34382 non-null  object
 7   Longitude               34373 non-null  object
 8   Airport.Code            50249 non-null  object
 9   Airport.Name            52790 non-null  object
 10  Injury.Severity         87889 non-null  object
 11  Aircraft.damage         85695 non-null  object
 12  Aircraft.Category       32287 non-null  object
 13  Registration.Number     87572 non-null  object
 14  Make                    88826 non-null  object
 15  Model                   88797 non-null  object
 16  Amateur.Built           88787 non-null  object
 17  Number.of.Engines       82805 non-null  float64
 18  Engine.Type             81812 non-null  object
 19  FAR.Description         32023 non-null  object
 20  Schedule                12582 non-null  object
 21  Purpose.of.flight       82697 non-null  object
 22  Air.carrier             16648 non-null  object
 23  Total.Fatal.Injuries    77488 non-null  float64
 24  Total.Serious.Injuries  76379 non-null  float64
 25  Total.Minor.Injuries    76956 non-null  float64
 26  Total.Uninjured         82977 non-null  float64
 27  Weather.Condition       84397 non-null  object
 28  Broad.phase.of.flight   61724 non-null  object
 29  Report.Status           82508 non-null  object
 30  Publication.Date        73659 non-null  object
dtypes: float64(5), object(26)
memory usage: 21.4+ MB

In [10]:
#Knowing all available columns so that I drop the non-crucial ones
df_aviation_data.columns

Index(['Event.Id', 'Investigation.Type', 'Accident.Number', 'Event.Date',
       'Location', 'Country', 'Latitude', 'Longitude', 'Airport.Code',
       'Airport.Name', 'Injury.Severity', 'Aircraft.damage',
       'Aircraft.Category', 'Registration.Number', 'Make', 'Model',
       'Amateur.Built', 'Number.of.Engines', 'Engine.Type', 'FAR.Description',
       'Schedule', 'Purpose.of.flight', 'Air.carrier', 'Total.Fatal.Injuries',
       'Total.Serious.Injuries', 'Total.Minor.Injuries', 'Total.Uninjured',
       'Weather.Condition', 'Broad.phase.of.flight', 'Report.Status',
       'Publication.Date'],
      dtype='object')

In [11]:
#Filtering and creating a new data frame using columns I will use
new_df = df_aviation_data[["Injury.Severity","Aircraft.damage","Aircraft.Category","Make","Model","Amateur.Built","Number.of.Engines","Engine.Type","FAR.Description","Purpose.of.flight","Air.carrier","Total.Fatal.Injuries","Total.Serious.Injuries","Total.Minor.Injuries","Total.Uninjured","Weather.Condition","Broad.phase.of.flight"]]
new_df

,Injury.Severity,Aircraft.damage,Aircraft.Category,Make,Model,Amateur.Built,Number.of.Engines,Engine.Type,FAR.Description,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight
0,Fatal(2),Destroyed,NaN,Stinson,108-3,No,1.0,Reciprocating,NaN,Personal,NaN,2.0,0.0,0.0,0.0,UNK,Cruise
1,Fatal(4),Destroyed,NaN,Piper,PA24-180,No,1.0,Reciprocating,NaN,Personal,NaN,4.0,0.0,0.0,0.0,UNK,Unknown
2,Fatal(3),Destroyed,NaN,Cessna,172M,No,1.0,Reciprocating,NaN,Personal,NaN,3.0,NaN,NaN,NaN,IMC,Cruise
3,Fatal(2),Destroyed,NaN,Rockwell,112,No,1.0,Reciprocating,NaN,Personal,NaN,2.0,0.0,0.0,0.0,IMC,Cruise
4,Fatal(1),Destroyed,NaN,Cessna,501,No,NaN,NaN,NaN,Personal,NaN,1.0,2.0,NaN,0.0,VMC,Approach
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90343,Minor,NaN,NaN,PIPER,PA-28-151,No,NaN,NaN,091,Personal,NaN,0.0,1.0,0.0,0.0,NaN,NaN
90344,NaN,NaN,NaN,BELLANCA,7ECA,No,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN
90345,Non-Fatal,Substantial,Airplane,AMERICAN CHAMPION AIRCRAFT,8GCBC,No,1.0,NaN,091,Personal,NaN,0.0,0.0,0.0,1.0,VMC,NaN
90346,NaN,NaN,NaN,CESSNA,210N,No,NaN,NaN,091,Personal,MC CESSNA 210N LLC,0.0,0.0,0.0,0.0,NaN,NaN
90347,Minor,NaN,NaN,PIPER,PA-24-260,No,NaN,NaN,091,Personal,NaN,0.0,1.0,0.0,1.0,NaN,NaN

In [12]:
#Confirming columns for new data frame
new_df.columns

Index(['Injury.Severity', 'Aircraft.damage', 'Aircraft.Category', 'Make',
       'Model', 'Amateur.Built', 'Number.of.Engines', 'Engine.Type',
       'FAR.Description', 'Purpose.of.flight', 'Air.carrier',
       'Total.Fatal.Injuries', 'Total.Serious.Injuries',
       'Total.Minor.Injuries', 'Total.Uninjured', 'Weather.Condition',
       'Broad.phase.of.flight'],
      dtype='object')

In [13]:
#Checking existing missing values
new_df.isnull ().sum()

Injury.Severity            2459
Aircraft.damage            4653
Aircraft.Category         58061
Make                       1522
Model                      1551
Amateur.Built              1561
Number.of.Engines          7543
Engine.Type                8536
FAR.Description           58325
Purpose.of.flight          7651
Air.carrier               73700
Total.Fatal.Injuries      12860
Total.Serious.Injuries    13969
Total.Minor.Injuries      13392
Total.Uninjured            7371
Weather.Condition          5951
Broad.phase.of.flight     28624
dtype: int64

## There is both numerical and categorical missing values, meaning I will have to fill both separately. For the numerical columns, I will group all fatalities, injuries and survivals together. I will add missing values to the "Number of Engines" column separately.

In [14]:
new_df = new_df.copy()

In [15]:
numerical_columns1= ["Total.Fatal.Injuries", "Total.Serious.Injuries","Total.Minor.Injuries", "Total.Uninjured"]
for num in numerical_columns1:
    new_df[num] = new_df[num].fillna(0)

In [16]:
new_df

,Injury.Severity,Aircraft.damage,Aircraft.Category,Make,Model,Amateur.Built,Number.of.Engines,Engine.Type,FAR.Description,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight
0,Fatal(2),Destroyed,NaN,Stinson,108-3,No,1.0,Reciprocating,NaN,Personal,NaN,2.0,0.0,0.0,0.0,UNK,Cruise
1,Fatal(4),Destroyed,NaN,Piper,PA24-180,No,1.0,Reciprocating,NaN,Personal,NaN,4.0,0.0,0.0,0.0,UNK,Unknown
2,Fatal(3),Destroyed,NaN,Cessna,172M,No,1.0,Reciprocating,NaN,Personal,NaN,3.0,0.0,0.0,0.0,IMC,Cruise
3,Fatal(2),Destroyed,NaN,Rockwell,112,No,1.0,Reciprocating,NaN,Personal,NaN,2.0,0.0,0.0,0.0,IMC,Cruise
4,Fatal(1),Destroyed,NaN,Cessna,501,No,NaN,NaN,NaN,Personal,NaN,1.0,2.0,0.0,0.0,VMC,Approach
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90343,Minor,NaN,NaN,PIPER,PA-28-151,No,NaN,NaN,091,Personal,NaN,0.0,1.0,0.0,0.0,NaN,NaN
90344,NaN,NaN,NaN,BELLANCA,7ECA,No,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN
90345,Non-Fatal,Substantial,Airplane,AMERICAN CHAMPION AIRCRAFT,8GCBC,No,1.0,NaN,091,Personal,NaN,0.0,0.0,0.0,1.0,VMC,NaN
90346,NaN,NaN,NaN,CESSNA,210N,No,NaN,NaN,091,Personal,MC CESSNA 210N LLC,0.0,0.0,0.0,0.0,NaN,NaN
90347,Minor,NaN,NaN,PIPER,PA-24-260,No,NaN,NaN,091,Personal,NaN,0.0,1.0,0.0,1.0,NaN,NaN

In [17]:
new_df.isnull().sum()

Injury.Severity            2459
Aircraft.damage            4653
Aircraft.Category         58061
Make                       1522
Model                      1551
Amateur.Built              1561
Number.of.Engines          7543
Engine.Type                8536
FAR.Description           58325
Purpose.of.flight          7651
Air.carrier               73700
Total.Fatal.Injuries          0
Total.Serious.Injuries        0
Total.Minor.Injuries          0
Total.Uninjured               0
Weather.Condition          5951
Broad.phase.of.flight     28624
dtype: int64

In [18]:
#Working now on filling the missing values in "Number of Engines" column using mean
median_for_engines = new_df['Number.of.Engines'].median()
new_df['Number.of.Engines'] = new_df['Number.of.Engines'].fillna(median_for_engines)

In [19]:
new_df.isnull().sum()

Injury.Severity            2459
Aircraft.damage            4653
Aircraft.Category         58061
Make                       1522
Model                      1551
Amateur.Built              1561
Number.of.Engines             0
Engine.Type                8536
FAR.Description           58325
Purpose.of.flight          7651
Air.carrier               73700
Total.Fatal.Injuries          0
Total.Serious.Injuries        0
Total.Minor.Injuries          0
Total.Uninjured               0
Weather.Condition          5951
Broad.phase.of.flight     28624
dtype: int64

In [20]:
#For FAR Description column. I will fill it together with the categorical data because I am unsure of the regulatio category and I cannot put 0.
#I will not include Make and Model in categorical data because "Unknown" as a missing value will be irrelevant in these columns.
categorical_columns= ["Injury.Severity","Aircraft.damage","Aircraft.Category","Amateur.Built","Engine.Type","FAR.Description","Purpose.of.flight","Air.carrier","Weather.Condition","Broad.phase.of.flight"]
for category in categorical_columns:
    new_df[category] = new_df[category].fillna('UNKNOWN')

In [21]:
new_df.isnull().sum()

Injury.Severity              0
Aircraft.damage              0
Aircraft.Category            0
Make                      1522
Model                     1551
Amateur.Built                0
Number.of.Engines            0
Engine.Type                  0
FAR.Description              0
Purpose.of.flight            0
Air.carrier                  0
Total.Fatal.Injuries         0
Total.Serious.Injuries       0
Total.Minor.Injuries         0
Total.Uninjured              0
Weather.Condition            0
Broad.phase.of.flight        0
dtype: int64

In [22]:
#Taking care of the missing values in Make and Model column
#I will drop the rows with missing values, because putting "Unknown" for the missing values will be irrelevant in deciding which aircraft is recommended for purchase.
percentage_missing_Make= 1522/90348*100
percentage_missing_Make

1.6845973347500776

In [23]:
percentage_missing_Model= 1551/90348*100
percentage_missing_Model

1.716695444282109

Both percentages are less than 5% meaning no loss of any statistical advantage. Dropping them does not compromise our analysis of determining less risky ecommendations,based on verified, professional-grade aircraft.

In [24]:
new_df = new_df.dropna(subset=["Make", "Model"])

In [25]:
new_df.isnull().sum()

Injury.Severity           0
Aircraft.damage           0
Aircraft.Category         0
Make                      0
Model                     0
Amateur.Built             0
Number.of.Engines         0
Engine.Type               0
FAR.Description           0
Purpose.of.flight         0
Air.carrier               0
Total.Fatal.Injuries      0
Total.Serious.Injuries    0
Total.Minor.Injuries      0
Total.Uninjured           0
Weather.Condition         0
Broad.phase.of.flight     0
dtype: int64

In [26]:
#Dealing with duplicates
new_df.duplicated().sum()

16735

In [27]:
#Dropping duplicates
new_df=new_df.drop_duplicates()

In [28]:
new_df.duplicated().sum()

0

### FEATURE ENGINEERING AND ANALYSIS

Feature Engineering is a process that I have used to better represent which aircrafts have lesser risks, by creating new insightful columns. I have added new columns like Total Occupants and surival rate columns to better my analysis, on which planes have Highest surival rates and lowest financial risks.

### FEATURE ENGINEERING

In [29]:
#Getting number of total occupants per plane
new_df['Total_Occupants'] = new_df[["Total.Fatal.Injuries", "Total.Serious.Injuries", "Total.Minor.Injuries", "Total.Uninjured"]].sum(axis=1)

In [30]:
new_df

,Injury.Severity,Aircraft.damage,Aircraft.Category,Make,Model,Amateur.Built,Number.of.Engines,Engine.Type,FAR.Description,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Total_Occupants
0,Fatal(2),Destroyed,UNKNOWN,Stinson,108-3,No,1.0,Reciprocating,UNKNOWN,Personal,UNKNOWN,2.0,0.0,0.0,0.0,UNK,Cruise,2.0
1,Fatal(4),Destroyed,UNKNOWN,Piper,PA24-180,No,1.0,Reciprocating,UNKNOWN,Personal,UNKNOWN,4.0,0.0,0.0,0.0,UNK,Unknown,4.0
2,Fatal(3),Destroyed,UNKNOWN,Cessna,172M,No,1.0,Reciprocating,UNKNOWN,Personal,UNKNOWN,3.0,0.0,0.0,0.0,IMC,Cruise,3.0
3,Fatal(2),Destroyed,UNKNOWN,Rockwell,112,No,1.0,Reciprocating,UNKNOWN,Personal,UNKNOWN,2.0,0.0,0.0,0.0,IMC,Cruise,2.0
4,Fatal(1),Destroyed,UNKNOWN,Cessna,501,No,1.0,UNKNOWN,UNKNOWN,Personal,UNKNOWN,1.0,2.0,0.0,0.0,VMC,Approach,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90341,Minor,UNKNOWN,UNKNOWN,GRUMMAN AMERICAN AVN. CORP.,AA-5B,No,1.0,UNKNOWN,091,Instructional,UNKNOWN,0.0,1.0,0.0,1.0,UNKNOWN,UNKNOWN,2.0
90343,Minor,UNKNOWN,UNKNOWN,PIPER,PA-28-151,No,1.0,UNKNOWN,091,Personal,UNKNOWN,0.0,1.0,0.0,0.0,UNKNOWN,UNKNOWN,1.0
90344,UNKNOWN,UNKNOWN,UNKNOWN,BELLANCA,7ECA,No,1.0,UNKNOWN,UNKNOWN,UNKNOWN,UNKNOWN,0.0,0.0,0.0,0.0,UNKNOWN,UNKNOWN,0.0
90346,UNKNOWN,UNKNOWN,UNKNOWN,CESSNA,210N,No,1.0,UNKNOWN,091,Personal,MC CESSNA 210N LLC,0.0,0.0,0.0,0.0,UNKNOWN,UNKNOWN,0.0
90347,Minor,UNKNOWN,UNKNOWN,PIPER,PA-24-260,No,1.0,UNKNOWN,091,Personal,UNKNOWN,0.0,1.0,0.0,1.0,UNKNOWN,UNKNOWN,2.0

To answer the first objective,"Which combination of Manufacturer, Engine Type, and Aircraft Category offers the highest level of occupant safety and the lowest risk of total loss", I will calculate the survival rate per plane first.

In [31]:
new_df['Survival_Rate'] = new_df['Total.Uninjured'] / new_df['Total_Occupants']
new_df['Survival_Rate'] = new_df['Survival_Rate'].fillna(0)

In [32]:
new_df

,Injury.Severity,Aircraft.damage,Aircraft.Category,Make,Model,Amateur.Built,Number.of.Engines,Engine.Type,FAR.Description,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Total_Occupants,Survival_Rate
0,Fatal(2),Destroyed,UNKNOWN,Stinson,108-3,No,1.0,Reciprocating,UNKNOWN,Personal,UNKNOWN,2.0,0.0,0.0,0.0,UNK,Cruise,2.0,0.0
1,Fatal(4),Destroyed,UNKNOWN,Piper,PA24-180,No,1.0,Reciprocating,UNKNOWN,Personal,UNKNOWN,4.0,0.0,0.0,0.0,UNK,Unknown,4.0,0.0
2,Fatal(3),Destroyed,UNKNOWN,Cessna,172M,No,1.0,Reciprocating,UNKNOWN,Personal,UNKNOWN,3.0,0.0,0.0,0.0,IMC,Cruise,3.0,0.0
3,Fatal(2),Destroyed,UNKNOWN,Rockwell,112,No,1.0,Reciprocating,UNKNOWN,Personal,UNKNOWN,2.0,0.0,0.0,0.0,IMC,Cruise,2.0,0.0
4,Fatal(1),Destroyed,UNKNOWN,Cessna,501,No,1.0,UNKNOWN,UNKNOWN,Personal,UNKNOWN,1.0,2.0,0.0,0.0,VMC,Approach,3.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90341,Minor,UNKNOWN,UNKNOWN,GRUMMAN AMERICAN AVN. CORP.,AA-5B,No,1.0,UNKNOWN,091,Instructional,UNKNOWN,0.0,1.0,0.0,1.0,UNKNOWN,UNKNOWN,2.0,0.5
90343,Minor,UNKNOWN,UNKNOWN,PIPER,PA-28-151,No,1.0,UNKNOWN,091,Personal,UNKNOWN,0.0,1.0,0.0,0.0,UNKNOWN,UNKNOWN,1.0,0.0
90344,UNKNOWN,UNKNOWN,UNKNOWN,BELLANCA,7ECA,No,1.0,UNKNOWN,UNKNOWN,UNKNOWN,UNKNOWN,0.0,0.0,0.0,0.0,UNKNOWN,UNKNOWN,0.0,0.0
90346,UNKNOWN,UNKNOWN,UNKNOWN,CESSNA,210N,No,1.0,UNKNOWN,091,Personal,MC CESSNA 210N LLC,0.0,0.0,0.0,0.0,UNKNOWN,UNKNOWN,0.0,0.0
90347,Minor,UNKNOWN,UNKNOWN,PIPER,PA-24-260,No,1.0,UNKNOWN,091,Personal,UNKNOWN,0.0,1.0,0.0,1.0,UNKNOWN,UNKNOWN,2.0,0.5

In [33]:
new_df.isnull().sum()

Injury.Severity           0
Aircraft.damage           0
Aircraft.Category         0
Make                      0
Model                     0
Amateur.Built             0
Number.of.Engines         0
Engine.Type               0
FAR.Description           0
Purpose.of.flight         0
Air.carrier               0
Total.Fatal.Injuries      0
Total.Serious.Injuries    0
Total.Minor.Injuries      0
Total.Uninjured           0
Weather.Condition         0
Broad.phase.of.flight     0
Total_Occupants           0
Survival_Rate             0
dtype: int64

In [34]:
#Getting highest surival rate- no fatalitries, no serious injuries and plane was not destroyed
new_df['Highest_Survival'] = ((new_df['Total.Fatal.Injuries'] == 0) & (new_df['Total.Serious.Injuries'] == 0) & (new_df['Aircraft.damage'] != 'Destroyed')).astype(int)

In [35]:
new_df['Highest_Survival'].value_counts()

1    41432
0    30610
Name: Highest_Survival, dtype: int64